<main class="auth-box">
  <h1>Logowanie</h1>
  <sup>
    Nie posiadasz konta? <a href="/signup">Zarejestruj się.</a>
  </sup>
  <form method="POST" action="/login">
    <input
      type="email"
      name="email"
      placeholder="Email"
      aria-label="Email"
      autoComplete="email"
      required
    />
    <input
      type="password"
      name="password"
      placeholder="Hasło"
      aria-label="Hasło"
      autoComplete="current-password"
      required
    />
    <button type="submit">
      Zaloguj się
    </button>
  </form>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
</main>