<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
    </head>
    <body>
        <header style="background:#c9c9c9; display:flex; flex-direction: row; gap: 15px;">
            <b>Menu</b>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </header>
        <main>
            <%- body %>
        </main>
    </body>
</html>